
main{
   margin: 0 auto;
   min-height: 80vh;
}
.box{
 &-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    padding-left: 140px;
 }
 &-item{
    height: 180px;
    flex-basis: 20%;
    width: 150px;
    position: relative;
    padding: 10px;
    box-sizing: border-box;
    margin: 10px;
 }
 &-item-wrapper{
    border: 1px solid $border-color;
    border-radius: 3px;
    margin: 0;
    height: 100%;
    width: 100%;
    position: relative;
        p{
            text-align: center;
        }
 }
}