footer{
    height: 10vh;
    position: relative;
    h3{
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        top: 40%;
        bottom: 0;
        text-align: center;
      }
  }
