a{
  text-decoration: none;
  color: $primary_color;
}

%buttons{
  outline: 0;
  border: 0;
  margin-right: 15px;
  padding: 6px;
  border-radius: 3px;
  background-color: $secondary-color;
  cursor: pointer;
  text-decoration: none;
}
.btn{
  &-primary{
    @extend %buttons;
  }
  &-secondary{
    @extend %buttons;
    width: 120px;
    background-color: $tertiary-color;
  }
}
.delete-checkbox{
  margin: 2px 2px;
}
hr{
  border: 0;
  height: 1px;
  background: $hr-secondary-color;
  background-image: linear-gradient(to right, $hr-color, $hr-secondary-color, $hr-color);
}
#product_description{
  margin-left: 15px;
  font-family: $font-other-style;
}