
$font-style: 'Rubik', sans-serif;
$font-other-style: 'PT Sans', sans-serif;
$font-weight: 700;
$border-color: #808080;
$primary-color: #fff;
$secondary-color: #5151e6;
$tertiary-color: #f24;
$hr-secondary-color: #333;
$hr-color: #ccc;
